* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0; }

body {
  font-family: 'myriad-pro', 'Myriad Pro', sans-serif;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  /*max-width: 1200px;
  margin: auto;*/
  padding: 48px 40px 1px 40px;
  color: #1a1a1b;
  background-color: #fc9e08;
  background: #fc9e08 -moz-linear-gradient(top, #fec608 0%, #fc9e08 100%);
  background: #fc9e08 -webkit-linear-gradient(top, #fec608 0%, #fc9e08 100%);
  background: #fc9e08 -o-linear-gradient(top, #fec608 0%, #fc9e08 100%);
  background: #fc9e08 -ms-linear-gradient(top, #fec608 0%, #fc9e08 100%);
  background: #fc9e08 linear-gradient(to bottom, #fec608 0%, #fc9e08 100%);
  /*background-attachment: fixed;
  background-position: top left;*/
  background-repeat: no-repeat;
  background-size: 100% 100%; }

a {
  text-decoration: none;
  color: #c03d00; }

a:hover {
  color: #D12200; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

h1 {
  font-family: 'museo-slab', 'Museo Slab', serif;
  font-weight: 100;
  font-size: 42px;
  line-height: 52px;
  margin: 24px 0; }

h2 {
  font-family: 'museo-slab', 'Museo Slab', serif;
  font-weight: 100;
  font-size: 38px;
  line-height: 42px;
  margin: 24px 0; }

h3 {
  font-family: 'museo-slab', 'Museo Slab', serif;
  font-weight: 100;
  font-size: 32px;
  line-height: 35px;
  margin: 24px 0; }

h4, h5, h6 {
  font-weight: 600;
  margin: 12px 0; }

p, ul, ol, table, blockquote {
  margin: 0 0 24px 0;
  padding: 0; }

li {
  list-style-position: outside;
  margin-left: 24px; }

ul li {
  list-style-type: square; }

ol li {
  list-style-type: decimal; }

small {
  font-size: 13px; }

table {
  border-collapse: separate;
  border-spacing: 6px; }

.title {
  font-family: 'jaf-bernino-sans-comp', 'Impact', 'Arial Narrow', sans-serif;
  font-weight: 900;
  font-size: 126px;
  line-height: 115px;
  text-transform: uppercase;
  position: relative;
  margin: 0 0 70px 0; }

.title:after {
  display: block;
  content: '';
  position: absolute;
  top: auto;
  bottom: -37px;
  left: -40px;
  right: -40px;
  height: 6px;
  border: 12px solid;
  border-width: 12px 0px;
  bottom: -26px;
  height: 7px;
  border-width: 9px 0px; }

.title a {
  color: inherit;
  background: none; }

.title a:hover {
  color: white; }

.site-nav {
  font-family: 'museo-slab', 'Museo Slab', serif;
  font-weight: 100;
  font-size: 42px;
  line-height: 52px;
  text-transform: uppercase;
  text-align: right;
  position: absolute;
  top: 56px;
  right: 24px; }

.page-nav {
  font-family: 'museo-slab', 'Museo Slab', serif;
  font-weight: 100;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  float: right; }

.nav ul,
.nav li {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0; }

.nav a {
  color: inherit;
  background: none; }

.nav a:hover {
  color: white; }

.meetup-time {
  color: #D12200; }

.meetup-time__title {
  font-size: 20px;
  font-weight: 500;
  position: relative;
  top: 10px; }

.main {
  max-width: 576px; }

.comments {
  background: white;
  padding: 18px 40px;
  border: 6px solid;
  border-width: 6px 0px;
  margin: 48px -40px 24px -40px; }

@media (max-width: 780px) {
  .site-nav {
    position: static;
    text-align: center; }

  .page-nav {
    margin-top: 48px;
    float: none;
    text-align: left; } }
