@charset "UTF-8";
/*------------------------------------*\
    STYLE.CSS
\*------------------------------------*/
/**
 *
 * sass --watch style.scss:style.min.css --style compressed
 *
 * Here we pull in some variables, include the inuit.css framework, then add our
 * project-specific components afterwards.
 */


/**
 * Setup
 */
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600italic,600);
/*@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,700italic);*/
@import "vars";
@import "inuit.css/inuit";
@import "typeplate";


/**
 * She’s all yours, cap’n... Begin importing your stuff here.
 */


body {
    background : #f9faf0 url(assets/images/100-90-5.png) repeat 0 0;
}


// header.banner
.banner {
    text-align : center;
    padding : 2em 0;

    font-style : italic;
    font-weight : 700;

    // Not the best place
    h1 {
        text-shadow : 0 1px 0 #fff;
    }

}




.main {
    width : 90%;
    max-width : 80em;
    margin : 0 auto;
}




