@charset "UTF-8";
/*------------------------------------*\
    STYLE.CSS
\*------------------------------------*/
/**
 *
 * sass --watch style.scss:style.min.css --style compressed
 *
 * Here we pull in some variables, include the inuit.css framework, then add our
 * project-specific components afterwards.
 */


/**
 * Setup
 */
// @import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600italic,600);
// @import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700);
@import "vars";
@import "inuit.css/inuit";
@import "gridset/css/gridset.css";
@import "typeplate";

$serif-boolean : true;


/**
 * She’s all yours, cap’n... Begin importing your stuff here.
 */

/*h1, h2, h3, h4 {*/
    /*font-family : $font-family-sans;*/
/*}*/

// reset grid paddingi and margin
.gw, .grid-wrapper {
    margin-left : 0;
}
.g, .grid {
    padding-left : 0;
}


body {
    /*background : #f9faf0 url(assets/images/100-90-5.png) repeat 0 0;*/
    background : #ffaa30;
}

.wrapper {
    padding : 20px;
}

// header.banner
.banner {
    padding : .5em 0 2em;

    font-weight : 500;

    font-family : $font-family-sans;

    h1 {
        text-transform : uppercase;
        letter-spacing : -4px;
        line-height : 1.1;
        font-weight : 500;

        a {
            text-decoration : none;
            color : #000;
        }
    }

}

.banner-header {

    // bottom lines
    h1 {
        display :inline;
    }

    padding-bottom : .8em;

    &,
    .banner-header__inner{
        display : inline;
        border-bottom: 10px solid #000;
    }
}

.site-nav {
    text-align : right;

    li {
        margin : 0 .5em;
    }

    a {
        padding : .5em;
        color: #000;
        text-decoration : underline;

        border-radius : 2px;

        &:hover {
            background-color : #fff;
            background-color : rgba(255,255,255,.5);
        }

    }
}
