@charset "UTF-8";
/*------------------------------------*\
    STYLE.CSS
\*------------------------------------*/
/**
 *
 * sass --watch style.scss:style.min.css --style compressed
 *
 * Here we pull in some variables, include the inuit.css framework, then add our
 * project-specific components afterwards.
 */


/**
 * Setup
 */
@import "vars";
@import "typeplate";
@import "inuit.css/inuit";


/**
 * She’s all yours, cap’n... Begin importing your stuff here.
 */


body {
    background : #d8ebe1 url(assets/images/100-90-5.png) repeat 0 0;
}


// header.banner
.banner {
    text-align : center;
}


.main {
    width : 90%;
    max-width : 80em;
    margin : 0 auto;
}




