


      <footer>
        <p><small>The source can be found at <a href="https://github.com/ouluweb">Frontend Friday GitHub page</a></small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->

    <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="{{ site.root }}/js/ff.js"></script>
<script>
  var _gaq = [['_setAccount', 'UA-39600429-1'], ['_trackPageview']];
  (function(d) {
    var g = d.createElement('script'),
        s = d.scripts[0];
    g.src = '//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
  }(document));
</script>

  </body>
</html>
