<footer>
    <p class="social">Follow us on 
        <a href="https://twitter.com/FrontendFriday" target="_blank">Twitter</a> 
        and 
        <a href="https://facebook.com/FrontendFriday" target="_blank">Facebook</a>
    </p>
    <p>
      <small>
        The source can be found at
        <a href="https://github.com/ouluweb">Frontend Friday GitHub page</a>.
        We can be reached by mail at
        <a href="mailto:ouluweb@gmail.com">ouluweb@gmail.com</a>
      </small>
    </p>
</footer>

<!--[if !IE]><script>fixScale(document);</script><![endif]-->

<script src="{{ site.root }}/js/vendor/mejs/mediaelement-and-player.min.js"></script>
<script src="{{ site.root }}/js/ff.js"></script>
<script>(function(G,o,O,g,l){G.GoogleAnalyticsObject=O;G[O]||(G[O]=function(){(G[O].q=G[O].q||[]).push(arguments)});G[O].l=+new Date;g=o.createElement('script'),l=o.scripts[0];g.src='//www.google-analytics.com/analytics.js';l.parentNode.insertBefore(g,l)}(this,document,'ga'));ga('create','UA-39600429-1');ga('send','pageview')</script>
