<h1 class="title">
    <a href="/">
        Frontend
        <br>
        Friday
    </a>
</h1>
<h2 id="meetup-time" class="meetup-time" data-time="{{ site.next_event }}">
    <span class="meetup-time__title">
        Next Meetup
    </span>
    <br>
    <span class="meetup-time__countdown" id="meetup-countdown">
      {{ site.next_event }}
    </span>
</h2>

<nav class="nav site-nav">
    <ul>
        <!--<li><a href="calendar.html">Upcoming meets</a>-->
        <!--<li><a href="meeting-notes.html">Meeting notes</a>-->
        <li><a href="/podcast/">Podcast</a></li>
        <li><a href="/about.html">About</a></li>
    </ul>
</nav>
