{% include header.html %}
        <div class="gw ">
            <div class="g db1 tb1 m-all">
                <aside>
                    <h2>Podcast</h2>
                    <ul>
                        <li>Tallennettu: {{ page.date | date: "%d.%m.%Y" }}
                        <li><a href="{{ page.link }}" onClick="_gaq.push(['_trackEvent', 'Podcast', 'Download', '{{ page.title }}']);">Lataa jakso</a>  
                </aside>
            </div>

            <div class="g db2-db3 tb2 m-all">
                <section class=main role=main>

                    {{ content }}

                </section>

                {% if page.branch-url %}
                <aside class=branch>
                    <script async src="http://embed-script.branch.com/assets/embed/embed.m.js?body=0" data-branch-embedid="{{ page.branch-id }}" ></script>
                    <noscript>
                        <p>
                        <a href="{{ page.branch-url }}" class="branch-link" title="Opens in a new window" target="_blank">Discuss this article on Branch…</a>
                        </p>
                    </noscript>
                </aside>
                {% endif %}
            </div>

        </div>
{% include footer.html %}
